<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- What port should this service listen on for RDP connections? Connections will only be accepted -->
    <!-- on this port from localhost. -->
    <add key="vmrdp.ListenPort" value="1313" />
    
    <!-- What's the name of the Hyper-V VM that should be started to handle the RDP connection? -->
    <add key="vmrdp.VMName" value="Support VM New" />
    
    <!-- What's the hostname that the Hyper-V VM will be running on? -->
    <add key="vmrdp.VMHost" value="SupportVMNew" />
    
    <!-- What's the port number that the Hyper-V VM will be listening on? -->
    <add key="vmrdp.VMPort" value="3389" />
    
    <!-- How long after a disconnect should the VM be shut down?  If a new connection is made -->
    <!-- before this delay, the shut down will be cancelled and you'll be connected to the VM -->
    <!-- that's still running. -->
    <add key="vmrdp.ShutdownDelaySec" value="240" />
  </appSettings>
</configuration>